<div class="input-wrap">
  <label class="input-wrap__label {{ class }}">
    {{ label }}
  </label>
  <input 
    name="{{ name }}"
    class="input-wrap__input {{ inputClass }}" 
    type="{{ type }}"
    placeholder="{{ placeholder }}"
    value="{{ value }}"
  >
  <p class="input-error"> {{ message }}</p>
</div>
