<div>
  <label class="form__label {{ class }}">
    {{ label }}
  </label>
  <input 
    name="{{ name }} "
    class="input {{ inputClass }}" 
    type="{{ type }} "
    placeholder="{{ placeholder }} "
    value="{{ value }}"
  >
  <p class="error">{{ message }}</p>
</div>
